<app-loader *ngIf="!filmes && pesquisando" class="mt-4"></app-loader>

<div *ngIf="filmes">
  <div class="row mt-4 ml-0 mr-0">
    <button type="button" class="btn btn-secondary btn-sized" [routerLink]="['/filmes/adicionar']" >Novo filme</button>

    <form class="ml-auto" (submit)="customSearch()">
      <div class="input-group input-group-search">
        <input [(ngModel)]="searchTerm" type="text" name="searchTerm" class="form-control" placeholder="Pesquisar">
        <div class="input-group-append">
          <button type="submit" class="btn btn-icon">
            <mat-icon svgIcon="magnify"></mat-icon>
          </button>
        </div>
      </div>
    </form>
  </div>

  <app-loader *ngIf="pesquisando" class="mt-5"></app-loader>

  <div *ngIf="!pesquisando" class="table-responsive mt-4">
    <table class="table table-striped table-hover table-bordered">
      <thead class="thead-light">
        <tr>
          <th>Código</th>
          <th>Título</th>
          <th>Gênero</th>
          <th>Valor da locação</th>
          <th>Data de cadastro</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="!filmes.length">
          <td class="text-muted" colspan="100%">Nenhum filme localizado.</td>
        </tr>

        <tr *ngFor="let filme of filmes" class="cursor-pointer" [routerLink]="showFilme(filme.id)">
          <td>{{ filme.id }}</td>
          <td>{{ filme.titulo }}</td>
          <td>{{ filme.generoNome }}</td>
          <td>{{ filme.valorLocacao | currency:'BRL':'symbol':'1.2-2':'pt' }}</td>
          <td>{{ filme.dataCadastro | customDate }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<app-modal-alert></app-modal-alert>
